{% extends "index.html" %} {% block content %}
<h1>TO DO List</h1>
<ol id="items" class="container scrollable-ol">
  {% for item in items %} {{item | safe}} {% endfor %}
</ol>
<a
  href="#"
  role="button"
  hx-get="/clear"
  hx-swap="none"
  hx-confirm="Are you sure?"
>
  Clear Done
</a>
<div id="new_note_form">
  <label for="note"> Note </label>
  <br />
  <textarea id="note" name="note" value="Note" rows="1" cols="50" placeholder="Note" pattern=".+"></textarea>
  <div id="buttons">
    <button
      hx-post="/new_note"
      hx-include="#note"
      hx-target="previous ol"
      hx-swap="beforeend"
    >
      Add
    </button>
  </div>
</div>
{% endblock %}
