<li id="li{{ index }}">
	<img src="static/trash.png" width=15px hx-delete="/note" hx-include="#item{{ index }}" hx-target="#li{{ index }}" hx-swap="outerHTML" hx-confirm="Are you sure?" />
	<span id="span{{ index }}">
	{% if item.status == 1 %}
		<s>{{item.note}}</s>
	{% else %}
		{{ item.note }}
	{% endif %}
	</span>
	{{item.deadline|default("", true)}} 
	<input type="hidden" id="item{{ index }}" name="id" value={{item.id}} />
	<img hx-include="#item{{ index }}" hx-post="/note" hx-target="#span{{ index }}" hx-swap="innerHTML" src="static/checkmark.png" width=15 />
</li>
<button hx-get="/new_note" hx-swap="outerHTML" hx-swap-oob="outerHTML:#new_note_form">
	New Note
</button>

